.sperator {
  width: 100%;
  height: 60px;
}
.features__container {
  background-color: #6cbca1;
}
.journey__container {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../../images/CaseStudy-ikonwork/journey__bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project__outline__icon__img {
  top: -40px;
  left: 15px;
  transform: translate(0%, -50%);
}
